<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de Sesion</title>
</head>
<body>
    <h1>Inicio de Sesión</h1>
    <h4>
        <%=error%>
    </h4>
    <div>
    <form action="/autenticar" method="post">
        <p>
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario">
        </p>
        <p>
        <label for="password">Password</label>
        <input type="password" name="password">
        </p>
        <p>
        <button type="submit">Continuar</button>
        </p>
    </form>
    </div>
</body>
</html>